@keyframes header__background {
    0% {
        background-position: center top;
    }

    50% {
        background-position: bottom;
    }

    100% {
        background-position: center top;
    }
}