.somos__container {
    box-shadow: $cardShadow;
    padding: 20px 0;
}
.somos__container p {
    margin-top: 20px;
    color: $gris;
    font-weight: 500;
}

.somos__img {
    background-image: url(../img/equipo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    min-height: 200px;
}

@media (min-width: 992px) {

    .somos__container p {
        margin-top: 0px;
    }
}