header {
    margin-top: 50px;
    width: 100vw;
    height: 150px;
    padding: 20px;
    position: relative;
}

.header__background {
    background-image: url(../img/header__background.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    animation: header__background 60s infinite;
    background-position: center;
    box-shadow: $cardShadow;
}

.header__text-container {
    padding: 10px;
    margin-top: 70px;
    text-align: right;
    background-color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 2px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: width 1s;
}

header h2 {
    color: white;
    font-size: 1rem;
    margin: 0;
}

#header__carousel {
    width: 100%;
}

@media (min-width: 768px) {
    .header__text-container {
        bottom: 20px;
        right: 50px;
    }

    header {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .header__text-container {
        bottom: 20px;
        right: 130px;
    }

    header {
        height: 400px;
    }

    .header__background {
        background-size: 120%;
    }
}